{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_major_project' %}" >
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Edit Major Project</span></h5>
               </div>
               {% include 'includes/messages.html' %}
               <div class="col-sm-11 mb-4">
                  <div class="form-group">
                     <label>Major Project Name</label>
                     <input type="text" class="form-control" name="major_project_name" value="{{major_project.major_project_name}}" required>
                     <input type="text" class="form-control" name="major_project_id" value="{{major_project.id}}" hidden>
                  </div>
               </div>
               <div class="col-12">
                  <button type="submit" class="btn btn-primary">Update Major Project</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}